services:
  discord-music-bot:
    image: nooblearn2code/discord-music-bot:latest
    container_name: discord-music-bot
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G
        reservations:
          cpus: '0.25'
          memory: 512M
    restart: on-failure
    env_file:
      - .env
    
    volumes:
      - ./playlist:/app/playlist:rw
      - ./logs:/app/logs:rw