name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-docker:
    name: Build Docker Image
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/discord-music-bot:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  deploy:
    name: Deploy Application
    runs-on: ubuntu-latest
    needs: build-docker
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy with Docker Compose
        run: |
          echo "Starting deployment..."

          cd /home/github-runner/wsp/dmb || exit 1

          echo "Updating compose file..."
          cp $GITHUB_WORKSPACE/compose.yml ./compose.yml

          echo "Pull latest image..."
          docker compose pull

          echo "Restart services..."
          docker compose up -d --remove-orphans

          echo "Deployment done"

      - name: Database migrations
        run: |
          echo "Waiting for app..."
          sleep 5
          docker exec dmb-instance-1 make db-up-prod

      - name: Cleanup old images
        run: |
          docker image prune -f
